
cfml/scrabble-score/box.json

csharp/hello-world/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll

csharp/hello-world/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll

*.dll

*.cache

*.props

*.targets

csharp/resistor-color/.editorconfig

python/twelve-days/Untitled.ipynb

.fake
.ionide

.gradle/
gradle/
.exercism/
build/
.idea/


julia/killer-sudoku-helper/.python-version

julia/killer-sudoku-helper/Untitled.ipynb

julia/killer-sudoku-helper/Untitled1.ipynb

python/Untitled.ipynb

package.wren
LICENSE
wren_modules/

node_modules/
